<div class="sidenav">     
     <a routerLink="/"> <i class="fas fa-home"></i> Inicio</a>               
     <a routerLink="/usuario-consulta"> <i class="fas fa-users"></i> Usuários </a>   
     <a routerLink="/perfil-consulta"> <i class="fas fa-user-lock"></i> Perfis </a>   
    <a routerLink="/material-consulta"> <i class="fa fa-clipboard" aria-hidden="true"></i> Materiais </a>    
    <a routerLink="/motorista-consulta"> <i class="fa fa-truck" aria-hidden="true"></i> Motoristas</a>    
    <a routerLink="/rota-consulta"> <i class="far fa-arrow-alt-circle-up"></i> Rotas</a>  
    <a routerLink="/cliente-consulta"> <i class="fa fa-address-book" aria-hidden="true"></i> Clientes</a>  
    <a routerLink="/mesreferencia-consulta"> <i class="far fa-calendar-check"></i> Mês Referência</a>  
    <a routerLink="/roteiro-consulta"> <i class="fas fa-location-arrow"></i> Roteiros</a>  
    <a routerLink="/contrato-consulta"> <i class="fas fa-glass-cheers"></i> Contratos</a>  
    <a routerLink="/pagamento-consulta"> <i class="fa fa-university" aria-hidden="true"></i> Pagamentos</a>    
    <a routerLink="/os-consulta"> <i class="far fa-clipboard"></i> Ordem Serviço</a>    
    
  </div>
  
  <div class="main">
    <router-outlet></router-outlet>
    
  </div>
     
