<div class="sidenav">     
     <a routerLink="/">Inicio</a>               
    <a routerLink="/material-consulta">Gerenciar Material</a>    
    <a routerLink="/motorista-consulta">Gerenciar Motorista</a>    
    <a routerLink="/rota-consulta">Gerenciar Rota</a>  
    <a routerLink="/cliente-consulta">Gerenciar Cliente</a>  
    <a routerLink="/mesreferencia-consulta">Mês Referência</a>  
    <a routerLink="/roteiro-consulta">Roteiro</a>  
  </div>
  
  <div class="main">
    <router-outlet></router-outlet>
    
  </div>
     
