<div class="sidenav">     
     <a routerLink="/">Inicio</a>               
    <a routerLink="/material-consulta">Materiais</a>    
    <a routerLink="/motorista-consulta"> Motoristas</a>    
    <a routerLink="/rota-consulta">Rotas</a>  
    <a routerLink="/cliente-consulta">Clientes</a>  
    <a routerLink="/mesreferencia-consulta">Mês Referência</a>  
    <a routerLink="/roteiro-consulta">Roteiros</a>  
    <a routerLink="/contrato-consulta">Contratos</a>  
    <a routerLink="/pagamento-consulta">Pagamentos</a>  
    
  </div>
  
  <div class="main">
    <router-outlet></router-outlet>
    
  </div>
     
