<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
            <label class="col-form-label-sm" for="cliente">
              Selecione o Cliente:
            </label>
            <ng-select
              [ngStyle]="{'fontSize': '11px'}"
              id="cliente"
              name="cliente"
              [virtualScroll]="true"
              [items]="clientes"
              bindLabel="nomeCompleto_RazaoSocial"
              bindValue="cod_Cliente"
              notFoundText="Nenhuma opção disponível"
              [searchable]="true"
              [clearable]="false"
              placeholder="Selecione uma opção"
              [formControl]="clienteFormControl"
              [ngbTooltip]="validacaoCliente"
              placement="top-left"
              [disableTooltip]="desabilitaTooltip(clienteFormControl)"
            >
            </ng-select>
            <ng-template #validacaoCliente>
              <span *ngIf="clienteFormControl.invalid && clienteFormControl.errors.required">
                Campo Obrigatório.
              </span>
            </ng-template>
          </div>
        </div>    

        <div class="row">
        <div class="col-md-12">
            <label class="col-form-label-sm" for="codigoDoPedidoNoSAP">
              Coleta Contratada:
            </label>
            <input type="text" class="form-control form-control-sm" id="codigoDoPedidoNoSAP" maxlength="10" mask="9999999999" [formControl]="coletaContratadaFormControl" placement="top-left" />
          </div>
        </div>
          
        <div class="row">
            <div class="col-md-12">
                <label class="col-form-label-sm" for="codigoDoPedidoNoSAP">
                  Valor Limite:
                </label>
                <input type="text" class="form-control form-control-sm" id="codigoDoPedidoNoSAP" maxlength="10"  mask="9999999999"    [formControl]="valorLimiteFormControl" placement="top-left" />
              </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="col-form-label-sm" for="codigoDoPedidoNoSAP">
                      Valor Unidade:
                    </label>
                    <input type="text" class="form-control form-control-sm" id="codigoDoPedidoNoSAP" maxlength="10" rInputMask="9999999999" [formControl]="valorUnidadeFormControl" placement="top-left" />
                  </div>
                </div>
    

      <div class="row mt-3">     
        <div class="col-md-6">
          <label class="col-form-label-sm" for="dataInicio">
            Data Inicio Contrato:
          </label>
          <div class="form-group">
            <div class="form-inline">
          <input
                type="text"
                class="form-control form-control-sm"
                placeholder="DD/MM/AAAA"
                rInputMask="99/99/9999"
                name="data"
                id="data"
                [formControl]="dataInicioContratoFormControl"
                [bsConfig]="{ showWeekNumbers: false }"
                bsDatepicker
                #data="bsDatepicker"
                style="width: 100px;"
                placement="top-left top-right bottom-left bottom-right"
                [disableTooltip]="desabilitaTooltip(dataInicioContratoFormControl)"
                [ngbTooltip]="validacao" />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn btn-outline-secondary calendar"
                  (click)="data.toggle()"
                  [attr.aria-expanded]="data.isOpen"
                  
                  >
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>
              <ng-template #validacao>
                <span *ngIf="dataInicioContratoFormControl.invalid && dataInicioContratoFormControl.errors.required">
                  Campo obrigatório
                </span>
                <span *ngIf="dataInicioFormControl.invalid && dataInicioFormControl.errors.validDate">
                  Data inválida
                </span>
                <span
                  *ngIf="dataInicioContratoFormControl.invalid && dataInicioContratoFormControl.errors.bsDate && dataInicioFormControl.errors.bsDate.invalid">
                  Data inválida
                </span>
              </ng-template>
            </div>
          </div>
        </div>
      </div>    
  


      <div class="row mt-3">     
        <div class="col-md-6">
          <label class="col-form-label-sm" for="dataCancelamento">
            Data Cancelamento de Contrato:
          </label>
          <div class="form-group">
            <div class="form-inline">
          <input
                type="text"
                class="form-control form-control-sm"
                placeholder="DD/MM/AAAA"
                rInputMask="99/99/9999"
                name="dataFim"
                id="dataCancelamento"
                [formControl]="dataCancelamentoFormControl"
                [bsConfig]="{ showWeekNumbers: false }"
                bsDatepicker
                #dataCancelamento="bsDatepicker"
                style="width: 100px;"
                placement="top-left top-right bottom-left bottom-right"
                 />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn btn-outline-secondary calendar"
                  (click)="dataCancelamento.toggle()"
                  [attr.aria-expanded]="dataCancelamento.isOpen"
                  
                  >
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>              
            </div>
          </div>
        </div>
      </div>

      <div class="row pt-3">
        <div class="col-md-10">
          <label class="col-form-label-sm" for="ajudanteAdicionais">
            <b>Motivo Cancelamento:</b>
          </label>
          <textarea rows="5"
            class="form-control form-control-sm"
            id="enderecosAdicionais" name="enderecosAdicionais"
            maxlength="800"
            [formControl]="motivoCancelamentoFormControl"
            placement="top-left"
            [disableTooltip]="desabilitaTooltip(motivoCancelamentoFormControl)"
            [ngbTooltip]="validacaoEnderecosAdicionais"
            maxlength="800">
            </textarea>
          <ng-template #validacaoEnderecosAdicionais>
            <span *ngIf="motivoCancelamentoFormControl.invalid && motivoCancelamentoFormControl.errors.maxlength">
              Os endereços adicionais não podem ter mais de 800 caracteres
            </span>
          </ng-template>
          <span style="font-size:11px;" class="float-right">{{ motivoCancelamentoFormControl.value ? (800  - motivoCancelamentoFormControl.value.length) : 800  }}/800  caracteres restantes</span>
        </div>
      </div>  
  
      
      <div class="row mt-3">     
        <div class="col-md-6">
          <label class="col-form-label-sm" for="dataTermino">
            Data Final de Contrato:
          </label>
          <div class="form-group">
            <div class="form-inline">
          <input
                type="text"
                class="form-control form-control-sm"
                placeholder="DD/MM/AAAA"
                rInputMask="99/99/9999"
                name="dataFim"
                id="dataTermino"
                [formControl]="dataTerminoFormControl"
                [bsConfig]="{ showWeekNumbers: false }"
                bsDatepicker
                #dataTermino="bsDatepicker"
                style="width: 100px;"
                placement="top-left top-right bottom-left bottom-right"
                 />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn btn-outline-secondary calendar"
                  (click)="dataTermino.toggle()"
                  [attr.aria-expanded]="dataTermino.isOpen"
                  
                  >
                  <i class="far fa-calendar-alt"></i>
                </button>
              </div>              
            </div>
          </div>
        </div>
      </div>
  

  
      <div class="row mt-2">
        <div class="col-md-12">
            <div class="form-check">
                <input class="form-check-input align-self-end form-inline"
                type="radio"
                name="ativo-inativo"
                id="ativo"
                value="S"
                [formControl]="flagTerminoFormControl">
                <label class="form-check-label col-form-label-sm font-xs pr-1 pl-1" for="ativo" checked>
                  Ativo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input align-self-end form-inline"                
                type="radio"
                name="ativo-inativo"
                id="inativo"
                value="N"
                [formControl]="flagTerminoFormControl">
                <label class="form-check-label col-form-label-sm font-xs pr-1 pl-1" for="inativo">
                  Inativo
                </label>
              </div>

      </div>
    </div>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-link" (click)="activeModal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Confirmar</button>
      </div>
  </div>
  
  
  
  