table {
    th, td {
      border: none !important;
    }
    tr {
      border: 1px solid #dee2e6 !important;
    }
  }
  .col-form-label-sm { font-size: 12px!important; font-weight: bold!important; }
  