<div class="row pt-3">
  <div class="col-md-12">
    <p class="font-purple">
      Ultilize pelo menos um dos critérios abaixo para localizar os profissionais.
    </p>
  </div>
</div>
<div class="row pt-3">
  <div class="col-md-4 pr-1">
    <label for="nome" class="col-form-label-sm">Nome:</label>
    <input type="text" id="nome" [formControl]="nomeCompletoFormControl" (keyup.enter)="obterValoresDoFiltro()" maxlength="400" class="form-control">
  </div>
  
 
  <div class="col-md-2 px-1">
    <label for="advogado-do-autor" class="col-form-label-sm">CPF/CNPJ:</label>
    <input type="text" id="nome" [formControl]="cpfCnpjFormControl" (keyup.enter)="obterValoresDoFiltro()" maxlength="400" class="form-control">
  </div>
  <div class="col-md-1 pl-1" style="padding-top: 2.4rem;">
    <button type="button" class="btn btn-primary" (click)="obterValoresDoFiltro()">Buscar</button>
  </div>
  <div class="col-md-2"></div>
</div>
